@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: "Roboto Mono", "Courier New", monospace;
  --breakpoint-md: 501px;
  --breakpoint-lg: 1025px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}
